body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5fff6;
}

.text-primary {
  color: #006747;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  
  padding: 10px 20px;
}

.div_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.div_left img {
  width: 5rem;
  height: 5rem;
}


.div_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}



.hero-section{
text-align: center;
background: linear-gradient(to right, #013223, #006747, #013223);
color: white;

}

.hero-section img {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.hero-section h1 {
  font-size: 2.5rem;
  ;
}

.hero-section p{
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}
.main_body {
  display: flex;
}


.number {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 2.5rem auto;
}


.grid-item {
  background-color: #ffffff;
  color: white;
  display: flex;


  border-radius: 8px;
  flex-direction: column;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

.card_top span{
  font-size: 2.5rem;
  border: black;
 
}
.card_bottom h2 {
  font-size: 2rem;
  margin-bottom: 0;
}


.card_bottom {
  padding: 10px;
  flex-grow: 1;
  color: black;
}
.card_bottom p {
  font-size: 2rem;
  margin-top: 0;
}
.card_top img {
  width: 2rem;
  height: 2rem;
}
.card_bottom2 h1{
  margin-bottom: 0;
  margin-top: 0;
}

.card_bottom2{
    padding: 10px;
  flex-grow: 1;

}
.card_bottom2 button{
  background-color: #f2f2f2;
  border-radius: 14px;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px;
}

.card_bottom2 h1{
  font-weight: bold;
  color: black;
   font-size: 2rem;
  margin-top: 0;
}

.div_buttins{
  display: flex;
    padding: 10px;
  gap: 0.5rem;
}

.div_buttins button{
  width: 100%;
  border-radius: 14px;
  border: none;
  font-size: 1.5rem;
}

.tag{
  background-color: #f2f2f2;

}