/*body*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5fff6;
}

.text-primary {
  color: #006747;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}


/*nav*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.heart {
  background-color: #ECFFF0;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;

}

.heart img {
  width: 2rem;
  height: 2rem;
}

.life {
  color: rgb(247, 5, 5);
}

.copy {
  background-color: #00A63E;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 14px;
  color: white;
  border: none;
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}




.div_left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.div_left img {
  width: 5rem;
  height: 5rem;
}


.div_right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/*heart section*/

.hero-section {
  text-align: center;
  background: linear-gradient(to right, #013223, #006747, #013223);
  color: white;

}

.hero-section img {
  width: 10rem;
  height: 10rem;
  margin-top: 1rem;
}

.hero-section h1 {
  font-size: 2.5rem;

}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}



/*main body*/
.main_body {
  display: flex;

  height: 100vh;
  justify-content: space-between;
  gap: 1rem;
  padding: 5rem;
}


.number {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
 
  flex: 0 0 80%;
}


.grid-item {
  background-color: #ffffff;
  color: white;
  display: flex;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.151);
  border-radius: 8px;
  flex-direction: column;
}

.card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
}

.card_top span {
  font-size: 2.5rem;
  border: black;

}



.card_bottom h2 {
  font-size: 2rem;
  margin-bottom: 0;
}


.card_bottom {
  padding: 10px;
  flex-grow: 1;
  color: black;
}

.card_bottom p {
  font-size: 2rem;
  margin-top: 0;
}

.card_top img {
  width: 2rem;
  height: 2rem;
}

.card_bottom2 h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.card_bottom2 {
  padding: 10px;
  flex-grow: 1;

}

.card_bottom2 button {
  background-color: #f2f2f2;
  border-radius: 14px;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 5px;
}

.card_bottom2 h1 {
  font-weight: bold;
  color: black;
  font-size: 2rem;
  margin-top: 0;
}

.div_buttins {
  display: flex;
  padding: 10px;
  gap: 0.5rem;
}

.div_buttins button {
  width: 100%;


  font-size: 1.5rem;
}

.tag {
  background-color: #f2f2f2;


}

.copy_btn {
  color: grey;
  padding: 5px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 7px;
}

.call_btn {
  color: white;
  padding: 5px;
  background-color: #00A63E;
  border: 1px solid #00A63E;
  border-radius: 7px;
}


/*history section*/

.history {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.history_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

.history_item {
  padding: 8px 12px;
  margin-bottom: 6px;
  border-radius: 6px;
  background-color: rgb(98%, 98%, 98%);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
  height: 5rem;
}



.history_line1 {
  font-weight: 900;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
}

.history_line2 {
  font-size: 0.9rem;
  color: grey;
  margin-top: 2px;
}


#history_item {

}

@media (max-width: 578px) {
    
    .main_body {
        flex-direction: column;
    }

  
    .number {
        grid-template-columns: 1fr;
    }

    .history {
        flex: 1;
        margin-top: 1rem;
    }
}